.content {
  text-align: center;
}

img {
  height: auto;
  margin-top: 30px;
  width: 500px;
}

.profile {
  border-radius: 100%;
}

.gallery {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.comments {
  display: block;
  list-style: none;
}

.comment-submit {
  padding: 5px 10px;
}

input[type="submit"],
button {
  background-color: #ff6341;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
}

input[type="text"] {
  background: white;
  border: 1px solid black;
  padding: 10px;
}

select {
  background-color: white;
  padding: 10px;
}

ul {
  display: table;
  margin: 0 auto;
  text-align: center;
}

.comment {
  margin: 15px;
}

#map {
  border: thin solid black;
  height: 500px;
  margin: 0 auto;
  width: 500px;
}
