#content {
	text-align: center;
}

img {
	height: auto;
	margin-top: 30px;
	width: 500px;
}

.profile {
	border-radius: 100%;
}

.gallery {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#greeting-container {
	margin-top: 20px;
}
